<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-body">
      <h1>404 Not found</h1>
      <p>¡Esta pagina no existe!</p>
      <a href="/">Volver a productos</a>
    </div>
  </div>
</div>